html, body { 
	overflow: auto;
	scroll-behavior: smooth;
}
@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}

.blink {
	animation: blink 1s linear infinite;
}

#particles-js {
	z-index: -1;
}

.link {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.link::after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}

.link:hover::after {
	width: 100%;
	background: rgb(176, 34, 45);
}

.marge {
	padding-left: 20px;
}

