body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

iframe {
	width: 100%;
	height: 100%;
}

#refresh-timer {
	position: fixed;
	text-align: center;
	width: 100%;
	margin-top: 0.2rem;
}

#modal, #players-frame {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
}

#content, #scoreboard {
	background-color: white;
	border-radius: 0.5rem;
	bottom: 0;
	position: fixed;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
}

#scoreboard {
	left: 30%;
	width: 40%;
	height: 50%;
}

#scoreboard > h1, #scoreboard > p {
	text-align: center;
}

#sheet {
	width: 100%;
	height: 100%;
}

#content {
	width: 100%;
	height: 92%;
}

#open, .close, #scores {
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: red;
	color: white;
}

#scores {
	margin-top: 3.25rem;
}

#open:hover, .close:hover, #scores:hover {
	cursor: pointer;
	background-color: darkred;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: white;
	background-image: url("https://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
}

#player-one {
	position: fixed;
	top: 6rem;
	left: 1rem;
}

#player-two {
	position: fixed;
	top: 6rem;
	right: 1rem;
}

#player-three {
	position: fixed;
	bottom: 12rem;
	left: 1rem;
}

#player-four {
	position: fixed;
	bottom: 12rem;
	right: 1rem;
}

#table {
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

@-webkit-keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from { opacity: 0; }

	to { opacity: 1; }
}

@keyframes fadeIn {
	from { opacity: 0; }

	to { opacity: 1; }
}